.banner{height: 496px;}
.banner img{width: 100%;height: 100%;}
.txt1{height: 70px;margin:56px 0;}
.txt11{height: 70px;width: 233px;text-align: center;margin: 0 auto;}
.txt11 h2{font-size: 27px;margin-bottom: 20px;line-height: 27px}
.txt11 p{font-size: 20px;color: #cacace;line-height: 20px;}
.txt11 p span{font-size: 20px;color: #e4392a;}
.service{height: 429px;}
.service dl{width: 290px;height: 429px;text-align: center;float: left;}
.service dl img{display: inline-block;background: #cccccc;border-radius: 50%;}
.service dt{width: 212px;height: 200px;margin: 0 auto;}
.service dd{width: 212px;height: 229px;margin: 0 auto;}
.service dd h3{font-size: 17px;height: 78px;}
.service dd h3 span{display:inline-block;font-size: 17px;height: 39px;border-bottom: 2px solid #707070;}
.service dd p{font-size: 13px;text-align: left;}
.service dl:hover dt img{background: url(../images/m1.png) no-repeat center top;}
.service dl:hover dd p{text-decoration: underline;}
.service dl:hover dd h3{color:red;}
.cace,.anniu{background: #f5f6fa; }
.cace1{height: 464px;}
.cace1 li{float: left;position: relative;overflow: hidden;}
.cace1 li div{width: 269px;height: 204px;background: rgba(255,0,0,0.5);position: absolute;top:-204px;left:21px;z-index: 2;text-align: center;line-height: 304px;}
.cace1 li div img{display: inline-block;}
.cace1 li:hover div{transform: translateY(204px);transition: 0.2s;}
.anniu1{height:106px;background: #f5f6fa; text-align: center;}
.anniu1 img{display: inline-block;}
.news{background: url(../images/bg_2.png) no-repeat center/cover;}
.new{height: 495px;}
.new1{height: 345px;}
.new1-1{width: 220px;height: 345px;margin-right: 87px;padding-left: 7px;color: #fff;position: relative;overflow: hidden;}
.new1-1 p:nth-of-type(1){display: inline-block;border: 1px solid #fff;width: 58px;height: 48px;font-size: 18px;color: #fff;padding: 18px 6px;border-radius: 8px;}
.new1-1 p:nth-of-type(1) span{font-size: 12px;line-height: 20px;}
.new1-1 p:nth-of-type(2){font-size: 13px;line-height: 63px;}
.new1-1 p:nth-of-type(3){font-size: 13px;color:#bbbbbe;margin-bottom: 50px;}
.new1-1 p:nth-of-type(4){display:block;font-size: 20px;color:#d1d1d5;border: 2px solid #fff;width: 38px;height: 38px;border-radius: 50%;text-align: center;line-height: 38px;}
.new1-1 div p:nth-of-type(1){width:227px;border:0;font-size: 13px;line-height: 63px;}
.new1-1 div p:nth-of-type(2){width:227px;border:0;font-size: 13px;line-height: 23px;}
.new1-1 img{position: absolute;top: -158px;left: 0;width: 227px;height: 158px;}
.new1-1 div{position: absolute;bottom: -189px;left: 0;height: 189px;width: 227px;}
.new1-1:hover p:nth-of-type(1){display: none;}
.new1-1:hover p:nth-of-type(2){display: none;}
.new1-1:hover p:nth-of-type(3){display: none;}
.new1-1:hover p:nth-of-type(4){display: none;}
.new1-1:hover div p:nth-of-type(1){display: block;}
.new1-1:hover div p:nth-of-type(2){display: block;}
.new1-1:hover img{transform: translateY(158px);transition: 0.2s;}
.new1-1:hover div{transform: translateY(-189px);transition: 0.2s;}
.new2{height: 150px;text-align: center;clear: both;}
.new a{display: inline-block;width: 178px;height: 50px;border:1px solid #fff;color: #fff;text-align: center;line-height: 50px;border-radius: 8px;}
.new a:hover{background: orange;}
.contact{height: 457px;}
.contact1{height: 216px;margin-bottom: 120px;}
.contact2{height: 121px;}
.cnt-left{background: url(../images/i_icon2.png) no-repeat left top;width: 452px;height: 216px;}
.cnt-left p{margin-left: 70px;font-size: 14px;line-height: 24px;}
.cnt-left p:nth-of-type(1){line-height: 34px;margin-bottom: 50px;}
.cnt-left p:nth-of-type(5){margin-top: 30px;}
.cnt-right{width: 729px;height: 216px;}
.cnt-right input[type="text"]{width: 350px;height: 34px;margin-right: 8px;margin-bottom: 15px;}
.cnt-right input[type="submit"]{width: 729px;height: 42px;background: #63637f;color: #fff;border:0;margin-top:20px;}
.contact2{text-align: center;}
.contact2 a{display: inline-block;width: 110px;height: 78px;background: url(../images/aaaa.jpg) no-repeat top center;line-height: 78px;}
/*网思动态*/
.banner1{height: 300px;}
.main{min-height: 500px;height:auto!important;height:500px;}
.main:after{content: "";display: block;clear: both;}
.main-1{width: 270px;height: 373px;margin-right: 25px;margin-bottom: 20px;}
.main-1 p:nth-of-type(1){display: inline-block;border: 1px solid #fff;width: 58px;height: 48px;font-size: 18px;padding: 10px 6px;margin: 10px;margin-right: 0;}
.main-1 p:nth-of-type(1) span{font-size: 12px;line-height: 20px;}
.main-1 p:nth-of-type(2){font-size: 13px;float: right;margin-top: 30px;margin-right: 10px;border-bottom: 1px solid #ccc;line-height: 50px;}
.main-1 p:nth-of-type(3){font-size: 13px;color:#bbbbbe;margin-bottom: 50px;}
.anan{width: 100%;height: 125px;text-align: center;}
.anan a{display: inline-block;width: 38px;height: 38px;background: #edecec;margin:10px;text-align: center;line-height: 38px;}
.anan a:hover{background: #e4392a;color: #fff;}


















